<!DOCTYPE html>
<html lang="en">
<head>
<title>home.html</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head><html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<body>
  
  <div class="navbar">
    <a href="#">HOME</a>
    <a href="register.html">REGISTER</a>
    <a href="login.html">LOGIN</a>
    <a href="#" class="right">CHATBOT</a>
  </div>

<div class="header">
  <div class="bg-image"></div><div class="bg-text">
    <img src="img.jpeg" alt="Avatar" class="avatar">
    <p><marquee><b><i>More News! More Often!  Move Closer To Tour World!</i></b></marquee></p>
</div>

  
  <div class="row">
    <div class="column nature">
      <div class="content">
        <img src="breaking news.jpeg" alt="breaking news" style="width:50%">
        <h4>BREAKING NEWS</h4>
      </div>
    </div>
    <div class="column nature">
      <div class="content">
      <img src="COMMERCIAL NEWS.jpg" alt="Lights" style="width:30%">
        <h4>COMMERCIAL NEWS</h4>
      </div>
    </div>
    <div class="column nature">
      <div class="content">
      <img src="ent.jpg" alt="Nature" style="width:100%">
        <h4>ENTERTAINMENT NEWS</h4>
        <p></p>
      </div>
    </div>
    
    <div class="column cars">
      <div class="content">
        <img src="HN.jpg" alt="Car" style="width:60%">
        <h4>HISTORICAL NEWS</h4>
      </div>
    </div>
    <div class="column cars">
      <div class="content">
      <img src="inews.jpg" alt="Car" style="width:80%">
        <h4>INTERNATIONAL NEWS</h4>
      </div>
    </div>
    <div class="column cars">
      <div class="content">
      <img src="lcn.png" alt="Car" style="width:100%">
        <h4>LOCAL NEWS</h4>
      </div>
    </div>
  
    <div class="column people">
      <div class="content">
        <img src="spn.jpeg" alt="Car" style="width:100%">
        <h4>SPORTS NEWS</h4>
      </div>
    </div>
    <div class="column people">
      <div class="content">
      <img src="wea.jpeg" alt="Car" style="width:80%">
        <h4>WEATHER NEWS</h>
      </div>
    </div>
    <div class="column people">
      <div class="content">
      <img src="bn.png" alt="Car" style="width:50%">
        <h4>BUSINESS NEWS</h4>
      </div>
    </div>
  </div>
  
  </div>
  
 <script src="script grid.js"></script>
 <br></div>
<div class="footer">
  <h2>VNEWS</h2>
  <ul>About us</ul>
  <ul>Resouces</ul>
  <ul>Get started</ul>
  <ul>help</ul>
</div>

</body>
</html>